body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 2px;
  margin: 0px;
  background: white;
  transition: background 0.3s;
  outline: none;
}

button:hover {
  background: #ccc;
}

button.active {
  background: #d9edff;
}

button.disabled {
  opacity: 0.4;
  cursor: auto;
}

.sep {
  margin: 15px;
}

.current-item {
  position: relative;
}

.current-item:after {
  position: absolute;
  content: '';
  border: 2px solid #d9edff;
  left: -25px;
  height: 100%;
  top: 0;
}

.slate-editor {
  background-color: white;
  padding: 1rem;
  margin-top: 2rem;
}